.lds-dual-ring {
  width: 64px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10em;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #d3b9df;
  border-color: #d3b9df transparent #d3b9df transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.loading-spinner__overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(54, 15, 76, 0.515);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
