.user-item {
  margin: 1rem;
  width: calc(45% - 2rem);
  min-width: 17.5rem;
}

.user-item a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 1rem;
  color: #ddd5e1;
  background: #372d56;
  transition: all ease 0.4s;
  font-size: 0.8rem;
}

.user-item a:hover,
.user-item a:active {
  background: #46386f;
}

.card.user-item__content {
  padding: 0 !important;
  background: transparent !important;
}

.user-item__image {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.user-item__info h2 {
  font-size: 1.4rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  color: #ddd5e1;
  transition: all ease 0.4s;
}

.user-item__info h3 {
  margin: 0;
  transition: all ease 0.4s;
}
