.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #7946b0;
  border-radius: 4px;
  background: #7946b0;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
  font-family: "Expletus Sans", cursive;
  transition: all ease 0.4s;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #9d5be3;
  border-color: #9d5be3;
}

.button--inverse {
  background: transparent;
  color: #602d96;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #602d96;
}

.button--danger {
  background: #a52a2a;
  border-color: #a52a2a;
}

.button--danger:hover,
.button--danger:active {
  background: #d22020;
  border-color: #d22020;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}
