.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  margin: 1rem;
}

.nav-links a {
  color: #292929;
  border-radius: 5px;
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  transition: all ease 0.4s;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
  background: #7032b5;
  color: #000;
}

.nav-links button {
  cursor: pointer;
  border: 1px solid #292929;
  color: #292929;
  background: transparent;
  padding: 0.5rem;
  font: inherit;
}

.nav-links button:focus {
  outline: none;
}

.nav-links button:hover,
.nav-links button:active {
  background: #292929;
  color: white;
}

@media (min-width: 980px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin: 0 0.5rem;
  }

  .nav-links a {
    color: #f6f6f6;
    text-decoration: none;
  }

  .nav-links button {
    border: 1px solid #602d96;
    color: white;
    background: transparent;
    border-radius: 4px;
    padding: 0.5rem 1.5rem;
    transition: all ease 0.4s;
  }

  .nav-links button:hover,
  .nav-links button:active {
    background: #ffffff;
    color: #000000;
  }
}
