.place-item {
  margin: 1rem 0;
}

.place-item__content {
  padding: 0;
}

.place-item__info {
  padding: 1rem;
  text-align: center;
}

.creator_post div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.6rem;
  cursor: pointer;
}

.creator_post svg {
  font-size: 1.3rem;
  cursor: pointer;
}

.creator_post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 1rem;
}

.creator_post p {
  color: #000;
  margin: 0;
}

.creator_post img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.like__comment {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  z-index: 10;
}

.like__comment div {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  background-color: #7946b0e2;
  padding: 0.3rem 0.6rem;
  border-radius: 8px;
  margin: -3rem 1rem 0 0;
}

.like__comment div figure {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  margin: 0;
}

.like__comment div figure figcaption {
  color: #f1e4ff;
}

.like__comment div svg {
  font-size: 1.3rem;
  fill: #bb85f6;
  cursor: pointer;
}

.comment_black_modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000c0;
  z-index: 100;
}

.comment_white_modal {
  width: 40vw;
  height: 68vh;
  min-height: 280px;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 5px;
}

.comment_white_modal form {
  width: 100%;
  height: 100%;
}

.comment_white_modal form input {
  width: 100%;
}

.comments {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 50vh;
}

.comments p {
  margin: 0;
  font-size: 0.9375rem;
}

.comments h3 {
  margin: 0;
  font-weight: 600;
  font-size: 0.8125rem;
  color: #1e0031;
  display: flex;
  align-items: center;
}

.comments h3 strong {
  color: #8252a1;
  font-size: 0.55rem;
  margin-left: 5px;
}

.comments svg {
  cursor: pointer;
  fill: #bc1010;
  font-weight: bold;
  font-size: 1.1rem;
  position: relative;
  margin: -5px -12px 0 0;
  transition: all 0.4s ease;
}

.comments svg:hover {
  fill: #ff0000;
}

.comments article {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: rgb(247 247 247);
  box-shadow: 0 1px 3px rgba(171, 171, 171, 0.699);
  margin: 0.4rem 0.7rem 0.2rem 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.comments article div {
  display: flex;
  flex-direction: column;
}

.comments::-webkit-scrollbar {
  width: 6px;
}

.comments::-webkit-scrollbar-track {
  background-color: #fff;
  box-shadow: none;
  border-radius: 0;
}

.comments::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
}

.input_comment {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 1rem;
  border-radius: 0 0 5px 5px;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  position: relative;
}

.input_comment input {
  padding: 0.4rem;
  border-radius: 5px;
  border: none;
  background-color: rgb(239 232 247);
}

.input_comment input:hover,
.input_comment input:focus {
  outline: none;
  border: none;
}

.input_comment button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  padding: 0.3rem 1rem;
  background-color: #7a10bc;
  transition: all ease 0.3s;
}

.input_comment button:hover {
  background-color: #fff;
}

.input_comment button svg {
  fill: #ffffff;
  transition: all ease 0.3;
  font-size: 1.1rem;
}

.input_comment button:hover svg {
  fill: #7a10bc;
}

.close_comment svg {
  cursor: pointer;
  font-size: 1.3rem;
}

.close_comment {
  width: 100%;
  margin-bottom: 10px;
}

.close_comment::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  display: block;
}

.close_comment div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.close_comment p {
  font-size: 1.2rem;
  font-family: "Expletus Sans", cursive;
}

.no_comments {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 50vh;
  text-align: center;
}

.place-item__image {
  width: 100%;
  height: 12.5rem;
  margin-right: 1.5rem;
}

.place-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.place-item__info h2 {
  text-transform: capitalize;
  color: #2a003f;
  margin: 0.6rem 0 0.3rem 0;
}

.place-item__info h3 {
  font-size: 1rem;
  font-weight: 500;
  color: #433948;
  margin: 0;
}

.place-item__info p {
  margin-top: 2rem;
  font-size: 0.9rem;
}

.place-item__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}

.place-item__modal-content {
  padding: 0;
}

.place-item__modal-actions {
  text-align: right;
}

.place-item__actions button,
.place-item__actions a {
  margin: 0.5rem;
}

.map-container {
  height: 15rem;
  width: 100%;
}

@media (min-width: 768px) {
  .place-item__image {
    height: 20rem;
  }
}

@media (max-width: 1000px) {
  .comment_white_modal {
    width: 80vw;
  }
}
